<form [formGroup]="todosForm" (ngSubmit)="handleCreateNewTodo()">
    <section class="todo_form_card">
        <h1 class="todo_form_title">Adicionar Tarefa</h1>

        <mat-form-field color="accent" appearance="outline" class="todo_form_input">
          <mat-label>Nome</mat-label>
          <input matInput formControlName="title" placeholder="Nome" />
        </mat-form-field>

        <mat-form-field color="accent" appearance="outline" class="todo_form_input">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description" placeholder="Descrição da tarefa"></textarea>
        </mat-form-field>

        <div class="todo_form_actions">
            <button type="submit" mat-raised-button class="todo_form_success_btn">Adicionar</button>
            <button type="button" mat-raised-button color="warn" (click)="handleCloseModal()">Cancelar</button>
        </div>
    </section>
</form>
